* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

#header{
    padding: 20px;
}

#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.image__gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.image__gallery img{
    width: 30%;
    height: auto;
}
